
.title-area{
    text-align: center;
    padding: 5% 0 2% 0;
}

h1{
    color: #3C2925;
}

.center {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    text-decoration-line: none;
    color: cornsilk;
}

a:hover {
    text-decoration-line: none;
    text-decoration: none;
}

.index-ul {
    list-style: none;
}

#icon-color{
    color: #FC79A5;
}

.index-li {
    float: left;
    text-align: center;
    margin: 20px 100px 20px 100px;
}

h5{
    color: #3C2925;
}

.c-div2>h5{
    padding-left: 15px;
}

.c-div3>h5{
    padding-left: 5px;
}

#main-board-div{
    background-size: cover;
}

#main-board-div>img{
    width: 100%;
    height: 250px;
    object-fit: fill;
    padding: 0 1% 0 1%;
}

.all-main{

}